<div id="<%= dom_id channel %>">
  <p>
    <strong>Twitch channel:</strong>
    <%= channel.twitch_channel_id %>
  </p>

  <p>
    <strong>Streamer name:</strong>
    <%= channel.streamer_name %>
  </p>

</div>
