<div class="grid">
  <h1>New structure</h1>
  <%= button_to "Back to structures", admin_structures_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/structures/form", locals: { structure: @structure } %>
</div>

