<div id="<%= dom_id structure %>">
  <p>
    <strong>Name:</strong>
    <%= structure.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= structure.description %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= structure.img_url %>
  </p>

</div>
