<div id="<%= dom_id trade_request %>">
  <p>
    <%= t('.resource', resource: trade_request.resource.name).html_safe %>
  </p>
  <p>
    <%= t('.quantity', quantity: trade_request.quantity).html_safe %>
  </p>
  <p>
    <%= t('.active', active: trade_request.active).html_safe %>
  </p>
</div>
