<div id="<%= dom_id structure_formula %>">
  <p>
    <strong>Structures:</strong>
    <%= structure_formula.structures_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= structure_formula.type %>
  </p>

  <p>
    <strong>Formula:</strong>
    <%= structure_formula.formula %>
  </p>

</div>
