<div id="<%= dom_id season %>">
  <p class="my-5">
    <%= t('.name', name: season.name).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.speed', speed: season.speed).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.active', active: season.active).html_safe %>
  </p>
</div>
