<div class="grid">
  <h1>New season</h1>
  <%= button_to "Back to seasons", admin_seasons_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/seasons/form", locals: { season: @season } %>
</div>

