<div id="<%= dom_id requirement %>">
  <p>
    <strong>Structures:</strong>
    <%= requirement.structures_id %>
  </p>

  <p>
    <strong>Required level:</strong>
    <%= requirement.required_level %>
  </p>

</div>
