<div id="<%= dom_id idle_player_resource %>">
  <p>
    <strong>Idle players:</strong>
    <%= idle_player_resource.idle_players_id %>
  </p>

  <p>
    <strong>Resources:</strong>
    <%= idle_player_resource.resources_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= idle_player_resource.quantity %>
  </p>

</div>
