<h1>Editing idle player resource</h1>

<%= render "form", idle_player_resource: @idle_player_resource %>

<br>

<div>
  <%= link_to "Show this idle player resource", @idle_player_resource %> |
  <%= link_to "Back to idle player resources", idle_player_resources_path %>
</div>
