<div class="grid">
  <h1>New structure_formula</h1>
  <%= button_to "Back to structure_formulas", admin_structure_formulas_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/structure_formulas/form", locals: { structure_formula: @structure_formula } %>
</div>

