<div id="<%= dom_id structure_level_detail %>">
  <p>
    <%= t('.structure', structure: structure_level_detail.structure.name).html_safe %>
  </p>
  <p>
    <%= t('.level', level: structure_level_detail.level).html_safe %>
  </p>
  <p>
    <%= t('.description', description: structure_level_detail.description).html_safe %>
  </p>
  <% if structure_level_detail.image.attached? %>
    <p>
      <img>"/>
    </p>
  <% end %>
</div>
