<div class="grid">
  <h1>New structure_level_detail</h1>
  <%= button_to "Back to level details", admin_structure_level_details_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/structure_level_details/form", locals: { structure_level_detail: @structure_level_detail } %>
</div>

