<div class="container">
  <h1>Conditions Générales d'Utilisation (CGU)</h1>

  <h2>1. Introduction</h2>
  <p>
      Ces conditions générales d'utilisation régissent l'utilisation de l'extension Twitch <strong>Idle StreamDefense</strong> (ci-après "l'Extension"). En utilisant l'Extension, vous acceptez ces CGU dans leur intégralité.
  </p>

  <h2>2. Définitions</h2>
  <ul>
      <li><strong>Utilisateur</strong> : toute personne utilisant l'Extension.</li>
      <li><strong>Données</strong> : toutes les informations collectées via l'Extension : l'identifiant Twitch ainsi que le nom utilisateur Twitch.</li>
  </ul>

  <h2>3. Acceptation des CGU</h2>
  <p>
      L'utilisation de l'Extension implique l'acceptation sans réserve de ces CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'Extension.
  </p>

  <h2>4. Collecte et Utilisation des Données</h2>
  <p>
      L'Extension collecte l'identifiant Twitch des utilisateurs ainsi que leur nom d'utilisateur Twitch. Ces données sont utilisées pour <em>retrouver votre partie et afficher votre pseudonyme dans le jeu</em>.
  </p>
  <h3>4.1. Consentement</h3>
  <p>
      En utilisant l'Extension, vous consentez à la collecte et à l'utilisation de vos données conformément à ces CGU.
  </p>

  <h2>5. Propriété Intellectuelle</h2>
  <p>
      Tous les droits de propriété intellectuelle relatifs à l'Extension et à son contenu appartiennent à <strong>Juste_Unex Inc.</strong>. Vous vous engagez à ne pas reproduire, distribuer ou créer des œuvres dérivées sans autorisation.
  </p>

  <h2>6. Limitations de Responsabilité</h2>
  <p>
      L'Extension est fournie "en l'état". <strong>Juste_Unex Inc.</strong> ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation de l'Extension.
  </p>

  <h2>7. Modifications des CGU</h2>
  <p>
      <strong>Juste_Unex Inc.</strong> se réserve le droit de modifier ces CGU à tout moment. Les utilisateurs ne seront pas informés, puisque nous ne collectons pas assez d'informations pour le faire.
  </p>

  <h2>8. Droit Applicable</h2>
  <p>
      Ces CGU sont régies par le droit <strong>Francais</strong>. Tout litige sera soumis aux tribunaux compétents.
  </p>

  <h2>9. Contact</h2>
  <p>
      Pour toute question concernant ces CGU, veuillez contacter <strong>un3xp3ctid@gmail.com</strong>.
  </p>

  <footer>
      <p>&copy; <strong>2024</strong> <strong>Juste_Unex Inc</strong>. Tous droits réservés.</p>
  </footer>
</div>
