<div class="container">
  <h1>Politique de Confidentialité</h1>

  <h2>1. Introduction</h2>
  <p>
  Cette politique de confidentialité décrit comment <strong>Juste_Unex Inc.</strong> (ci-après "nous", "notre" ou "nos") collecte, utilise et protège les informations dans le cadre de l'utilisation de l'extension Twitch <strong>Idle StreamDefense</strong> (ci-après "l'Extension").
  </p>

  <h2>2. Informations Collectées</h2>
  <p>
  Nous ne collectons que l'identifiant Twitch des utilisateurs ainsi que leur nom d'utilisateur Twitch lorsque vous utilisez notre Extension. Nous ne collectons pas de données personnelles telles que votre nom, votre adresse e-mail ou toute autre information identifiable.
  </p>

  <h2>3. Utilisation des Informations</h2>
  <p>
  L'identifiant Twitch collecté est utilisé uniquement pour <em>retrouver votre partie et stocker votre avancement</em>.
  <br >
  Le nom d'utilisateur Twitch est utilisé pour <em>afficher votre pseudonyme dans le jeu</em>.
  </p>

  <h2>4. Protection des Informations</h2>
  <p>
  Nous prenons la sécurité de vos informations au sérieux. Cependant, nous n'avons pas d'information sensible concernant les utilisateurs, il sont de facto protégés.
  </p>

  <h2>5. Partage des Informations</h2>
  <p>
  Nous ne partageons pas, ne vendons pas et ne louons pas votre identifiant Twitch à des tiers. Nous ne divulguerons votre identifiant Twitch que si la loi l'exige ou pour protéger nos droits.
  </p>

  <h2>6. Modifications de la Politique de Confidentialité</h2>
  <p>
    <strong>Juste_Unex Inc.</strong> se réserve le droit de modifier ces CGU à tout moment. Les utilisateurs ne seront pas informés, puisque nous ne collectons pas assez d'informations pour le faire.
  </p>

  <h2>7. Droit Applicable</h2>
  <p>
  Cette politique de confidentialité est régie par le droit <strong>Francais</strong>. Tout litige sera soumis aux tribunaux compétents.
  </p>

  <h2>8. Contact</h2>
  <p>
  Pour toute question concernant cette politique de confidentialité, veuillez contacter <strong>un3xp3ctid@gmail.com</strong>.
  </p>

  <footer>
    <p>&copy; <strong>2024</strong> <strong>Juste_Unex Inc</strong>. Tous droits réservés.</p>
  </footer>
</div>
