<div id="<%= dom_id resource %>">
  <h2 class="font-bold text-2xl">
    <%= t('.title') %>
  </h2>
  <p class="my-5">
    <%= t('.name', name: resource.name).html_safe %>
  </p>
  <% if resource.icon.attached? %>
    <p class="my-5">
      <img class="h-12" src="<%= url_for(resource.icon) %>"/>
    </p>
  <% end %>
</div>
