<div id="<%= dom_id resource %>">
  <p>
    <%= t('.name', name: resource.name).html_safe %>
  </p>
  <p>
    <%= t('.season', season: resource.season&.name).html_safe %>
  </p>
  <% if resource.icon.attached? %>
    <p>
      <img src="<%= url_for(resource.icon) %>"/>
    </p>
  <% end %>
</div>
