<div class="grid">
  <h1>New resource</h1>
  <%= button_to "Back to resources", admin_resources_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/resources/form", locals: { resource: @resource } %>
</div>

