<div id="<%= dom_id idle_player_structure %>">
  <p>
    <strong>Structures:</strong>
    <%= idle_player_structure.structures_id %>
  </p>

  <p>
    <strong>Idle players:</strong>
    <%= idle_player_structure.idle_players_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= idle_player_structure.level %>
  </p>

</div>
