<h1>Editing idle player structure</h1>

<%= render "form", idle_player_structure: @idle_player_structure %>

<br>

<div>
  <%= link_to "Show this idle player structure", @idle_player_structure %> |
  <%= link_to "Back to idle player structures", idle_player_structures_path %>
</div>
