<h1>Editing idle player</h1>

<%= render "form", idle_player: @idle_player %>

<br>

<div>
  <%= link_to "Show this idle player", @idle_player %> |
  <%= link_to "Back to idle players", idle_players_path %>
</div>
