<details class="py-5">
  <summary role="button" class="secondary"> Import des structure requirements </summary>
  <p>
    <%= form_tag import_admin_structure_requirements_path, method: :post, multipart: true do %>
      <%= file_field_tag :file, accept: ".csv" %>
      <%= submit_tag '⚙️ Import' %>
    <% end %>
  </p>
</details>
