<div class="grid">
  <h1>Editing structure requirement</h1>
  <div role="group">
    <%= button_to "Show this requirement", admin_structure_requirement_path(@structure_requirement), method: :get, class: %w[secondary] %>
    <%= button_to "Back to requirements", admin_structure_requirements_path, method: :get, class: %w[contrast] %>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "admin/structure_requirements/form", locals: { structure_requirement: @structure_requirement } %>
</div>
