<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Structure requirements</h1>
    <%= link_to "New structure requirement", new_admin_structure_requirement_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="structure_requirements" class="min-w-full">
    <% @structure_requirements.each do |structure_requirement| %>
      <%= render partial: 'admin/structure_requirements/structure_requirement', locals: { structure_requirement: } %>
    <% end %>
  </div>
</div>
