<div class="grid">
  <h1>New structure requirement</h1>
  <%= button_to "Back to requirements", admin_structure_requirements_path, method: :get, class: "contrast" %>
</div>

<div class="container-fluid">
  <%= render partial: "admin/structure_requirements/form", locals: { structure_requirement: @structure_requirement } %>
</div>

