<div id="<%= dom_id idle_game %>">
  <p>
    <%= t('.channel', channel: idle_game.channel.twitch_id).html_safe %>
  </p>
  <p>
    <%= t('.user', user: idle_game.user.nickname).html_safe %>
  </p>
</div>
