<div id="<%= dom_id idle_game %>">
  <h2 class="font-bold text-2xl">
    <%= t('.title') %>
  </h2>
  <p class="my-5">
    <%= t('.channel', channel: idle_game.channel.twitch_id).html_safe %>
  </p>
  <p class="my-5">
    <%= t('.user', user: idle_game.user.nickname).html_safe %>
  </p>
</div>
