<div id="resources">
  <h2>
    <%= t('.title') %>
  </h2>
  <table>
    <thead>
      <tr>
        <% %w[name quantity].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% idle_game_resources.each do |idle_game_resource| %>
      <tr>
          <td>
            <%= idle_game_resource.resource.name %>
          </td>
          <td>
            <%= idle_game_resource.quantity %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
