<div id="resources">
  <h2 class="font-bold text-2xl">
    <%= t('.title') %>
  </h2>
  <table class="border-collapse w-full border border-slate-500 bg-slate-800 text-sm shadow-sm">
    <thead>
      <tr>
        <% %w[name quantity].each do |column| %>
          <th class="w-1/2 border border-slate-600 font-semibold p-4 text-slate-200 text-left">
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% idle_game_resources.each do |idle_game_resource| %>
      <tr>
          <td class="border border-slate-700 p-4 text-slate-400">
            <%= idle_game_resource.resource.name %>
          </td>
          <td class="border border-slate-700 p-4 text-slate-400">
            <%= idle_game_resource.quantity %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
