<div id="structures">
  <h2>
    <%= t('.title') %>
  </h2>
  <table>
    <thead>
      <tr>
        <% %w[name level leveling?].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% idle_game_structures.each do |idle_game_structure| %>
      <tr>
          <td>
            <%= idle_game_structure.structure.name %>
          </td>
          <td>
            <%= idle_game_structure.level %>
          </td>
          <td>
            <% if idle_game_structure.leveling?.present? %>
              OUI
            <% else %>
              NON
            <% end %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
