<div>
  <h1>Channels</h1>
</div>

<div id="channels">
  <table>
    <thead>
      <tr>
        <% %w[twitch_id action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @channels.each do |channel| %>
      <tr>
          <td>
            <%= channel.twitch_id %>
          </td>
          <td>
            <%= link_to "Show", admin_channel_path(channel) %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
