<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
    <div>
      <%= button_to "Back to channels", admin_channels_path, method: :get %>
    </div>
</div>

<section class="container-fluid">
  <%= render partial: 'admin/channels/channel', locals: { channel: @channel } %>
</section>
<section>
  <%= render partial: 'admin/channels/idle_games', locals: { idle_games: @channel.idle_games } %>
</section>
