<div id="idle_games">
  <h2>
    <%= t('.title') %>
  </h2>
  <table>
    <thead>
      <tr>
        <% %w[channel action].each do |column| %>
          <th>
            <%= t(".#{column}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% idle_games.each do |idle_game| %>
      <tr>
          <td>
            <%= idle_game.channel.twitch_id %>
          </td>
          <td>
            <%= link_to "Show", admin_idle_game_path(idle_game) %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
