<div class="grid">
  <h1>
    <%= t('.title') %>
  </h1>
  <div>
    <%= button_to "Back to users", admin_users_path, method: :get %>
  </div>
</div>

<section class="container-fluid">
  <div>
    <%= render partial: 'admin/users/user', locals: { user: @user } %>
  </div>
</section>

<section>
  <%= render partial: 'admin/users/idle_games', locals: { idle_games: @user.idle_games } %>
</section>
