<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New idle player structure</h1>

  <%= render partial: "admin/idle_game_structures/form", locals: { idle_game_structure: @idle_game_structure } %>

  <%= link_to "Back to idle player structures", admin_idle_game_structures_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
